# Parameter Configuration

# ZIP-Caller is a copy number variation detection software specifically designed for low-coverage sequencing data. 
# If you are using only ZIP-Caller, you need to configure the following parameters:

# ##################################################################################
# The storage paths of the samples and the mapping tables(.csv file, see example)
# using only ZIP-Caller, no training samples required.
# Testing files
test_file_list = 'input_csv/test.csv'

# Control baseline files (at least 50 samples)
# Control baseline sample list(csv list file, only contain normal samples, at least 50 samples )
baseline_file_list = input_csv/baseline.csv'

# The output of standardized baseline file (save path)
baseline_save_path = 'data/baseline_save_path/'

# The bed file corresponding to the reference genome(chr_len.bed).
chr_len_path = 'chr_len.bed'

# ##################################################################################
# If you have a certain amount of multi-region sequencing data and wish to use PGcnv, you will need to additionally configure the following parameters.

# Reference genome file.
ref_file = 'data/ref1000w.fasta'

# The length of reads
read_len = 100

# Training files
train_file_list = 'input_csv/train.csv'

# .nwk file path
nwk_file_path = 'mynwk.nwk'





